In [184]:
#TITANIC SURVIVAL PREDICTION USING LOGISTIC REGRESSION

In [185]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import seaborn as sns
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt

In [186]:
titanic_survival= pd.read_csv('Titanic-Dataset.csv')

In [187]:
titanic_survival.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [174]:
titanic_survival['Age'].fillna(titanic_survival['Age'].median(), inplace=True)
titanic_survival['Embarked'].fillna(titanic_survival['Embarked'].mode()[0], inplace=True)
titanic_survival.drop(columns=['Cabin'], inplace=True)

In [175]:
titanic_survival = pd.get_dummies(titanic_survival, columns=['Sex', 'Embarked'], drop_first=True)

In [176]:
titanic_survival.drop(columns=['Name', 'Ticket', 'PassengerId'], inplace=True)

In [177]:
X = titanic_data.drop(columns='Survived')
y = titanic_data['Survived']

In [178]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [179]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [180]:
titanic_model = LogisticRegression()
titanic_model.fit(X_train, y_train)
y_pred = titanic_model.predict(X_test)

In [181]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')
print('Classification Report:')
print(classification_report(y_test, y_pred))

Accuracy: 0.81
Classification Report:
              precision    recall  f1-score   support

           0       0.83      0.86      0.84       105
           1       0.79      0.74      0.76        74

    accuracy                           0.81       179
   macro avg       0.81      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179

In [170]:
print(confusion_matrix(y_test, y_pred))

[[90 15]
 [19 55]]